.customcontainer {
  width: auto;
  height: 2000px;
  background-color:#F9F9F9
}

.regcontainer{
  width: 100%;
  height: auto;
  background-color:  white;
}

.registerform {
  width: 80%;
  height: auto;
  background-color:  white;
  padding-top:10%;
}
