.customcontainer {
	width: auto;
	height: 2000px;
	padding-top: 5%;
	background-image: url('../../../assets/images/presentation-bg.jpg');
}

.regcontainer {
	width: 30%;
	height: auto;
	height: auto;
	margin: auto;
	background-color: white;
}

.registerform {
	width: 90%;
	height: auto;
	background-color: white;
	margin: auto;
}

.titlediv {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
	font-family: 'lato', sans-serif;
	text-transform: uppercase;
	font-weight: 349 !important;
	font-size: 20px !important;
}

.login-btn {
	font-family: 'lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}