.customcontainer {
	width: auto;
	height: 580px;
	padding-top: 5%;
	background-image: url('../../../assets/images/presentation-bg.jpg');
}

.regcontainer {
	width: 30%;
	margin: auto;
	background-color: white;
}

.registerform {
	width: 90%;
	height: auto;
	background-color: white;
	margin: auto;
}

.titlediv {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
	font-family: 'lato', sans-serif;
	text-transform: uppercase;
	font-weight: 349 !important;
	font-size: 20px !important;
}

.login-btn {
	font-family: 'lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

@media(max-width: 575px) {
	.customcontainer {
		width: 90%;
		padding-top: 15%;
	}
	.regcontainer {
		margin-left: 5%;
		width: 100%;
	}
	.registerform {
		width: 100%;
	}
	.titlediv {
		font-size: 12px !important;
	}
}