.custom-navbar a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-table;
  color: #1e1e1e;
  font-weight: 400;
  letter-spacing: 2px;
}

.custom-navbar a:hover {
  color: #00BCFB;
  border-bottom: 2px solid;
  cursor: pointer;
}

.fixed-top {}

.custnav {
  background-color: white !important;
  border-bottom: 2px solid #eaeaea !important;
}

@media(max-width:575px) {
  .navbar-brand {
    margin: 0 auto;
  }
}