<nav class="navbar navbar-light bg-light fixed-top-custom custnav">
    <a class="navbar-brand">Home Food</a>
    <div class="form-inline custom-navbar">
        <a class="navbar-brand" [routerLink]="['/product']" routerLinkActive="active">Home</a>
        <a class="navbar-brand" [routerLink]="['/cart']" routerLinkActive="active">Cart</a>
        <a class="navbar-brand" [routerLink]="['/order']" routerLinkActive="active">Orders</a>
        <a class="navbar-brand" [routerLink]="['/account']" routerLinkActive="active">Account</a>
        <a class="navbar-brand" (click)="onLogout();" routerLinkActive="active">Logout</a>
    </div>
</nav>
