<nav class="navbar navbar-light bg-light fixed-top-custom">
        <a class="navbar-brand">Navbar</a>
        <div class="form-inline custom-navbar">
            <a class="navbar-brand" [routerLink]="['/product']" routerLinkActive="active">Home</a>
            <a class="navbar-brand" [routerLink]="['/cart']" routerLinkActive="active">Contact Us</a>
            <a class="navbar-brand" [routerLink]="['/logout']" routerLinkActive="active">Login</a>
        </div>
    </nav>
    <section>
        <error></error>
    </section>