.custom-table {
    margin-top: 10%;
}

.cart-header {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 12px;
    font-family: 'lato', sans-serif;
    color: #2c3e50;
    border-bottom: 2px solid #eaeaea;
}

.cart-header th {
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    border-top: none;
    display: table-cell;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 349;
}

.cart-item {
    position: relative;
    border: 1px solid #eaeaea;
}

.cart_table_item td:first-child {
    border-left: 1px solid #eaeaea;
}

.cart_table_item td:last-child {
    border-right: 1px solid #eaeaea;
}

.product-thumbnail {
    min-width: 1%;
    border: none;
}

.product-thumbnail img {
    width: 110px;
    height: 100px;
    border-radius: 50%;
}

.cart-column {
    vertical-align: middle;
    border-top: none;
    border-bottom: #eaeaea;
    font-family: 'lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.minus {
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    border-radius: 0;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    font-size: 20px;
    display: inline-block;
    padding: 0px 17px;
    color: #616161;
}

.plus {
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    border-radius: 0;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    font-size: 20px;
    display: inline-block;
    padding: 0px 17px;
    color: #616161;
}

.qty-text {
    background-color: #fbfbfb;
    height: 50px;
    width: 70px;
    border-style: solid;
    border-width: 1px 0 1px 0px;
    text-align: center;
    margin: 0;
    border-color: #eaeaea;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    z-index: 1;
    position: relative;
    padding-top: 5px;
    display: inline-block;
}

.remove {
    border-radius: 100%;
    color: #616161;
    display: block;
    font-size: 23px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    background-color: #eaeaea;
}

.custom-cart {
    clear: right;
    float: right;
    margin: 30px 0 0;
    text-align: right;
    width: 48%;
}

.cart-column-price {
    color: #00BCFB;
    vertical-align: middle;
}

.cart-totals tr td:first-child {
    text-align: left;
}

.cart-totals tr td:last-child {
    text-align: left;
}

.cart-total-header {
    font-size: 18px;
    text-align: left;
    margin-bottom: 3%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00BCFB;
}

.custom-proceed {
    background-color: #00BCFB;
    border: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 2px;
    font-size: 18px;
    font-family: 'lato', sans-serif;
}

.custom-shop-now {
    background-color: #00BCFB !important;
    font-family: 'lato', sans-serif;
    border: none;
}

.cart-icon {
    background-color: #00A6E2;
}

.no-items {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    color: #00BCFB;
}

.empty-cart {
    border: 1px solid #eaeaea;
    width: 80%;
    margin: 10% auto;
}