.customer-order p {
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px !important;
    text-align: left;
    color: #17C8FF !important;
}

.customer-order {
    padding-top: 5%;
}

.customer-order p a {
    color: #17C8FF !important;
}

.order-table {
    width: 100%;
    border: 1px solid #D3D3D8 !important;
}

.order-table thead tr {
    background-color: #f8f8f8;
}

.order-id {
    background-color: #00BCFB;
    border: inherit;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle !important;
    margin: 8% auto;
}

.need-help {
    background-color: #00BCFB;
    border: inherit;
    display: inline-block;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 50% !important;
}

/* .order-item {
    position: relative;
    border: 1px solid #eaeaea;
}; */

.product-thumbnail {
    min-width: 1%;
    border: none;
    display: inline-block;
}

.product-thumbnail img {
    width: 55%;
    height: 50%;
    border-radius: 50%;
    vertical-align: middle;
}

.cart-column {
    vertical-align: middle;
    border-top: none;
    border-bottom: #eaeaea;
    text-transform: uppercase;
    font-family: 'lato', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.cart-column-header {
    vertical-align: middle;
    border-top: none;
    text-transform: uppercase;
    font-family: 'lato', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: #00BCFB;
}

.no-items {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    color: #00BCFB;
}

.empty-cart {
    border: 1px solid #eaeaea;
    width: 80%;
}

.empty-cart tbody tr td{
    border: 1px solid #eaeaea;
}

.custom-shop-now {
    background-color: #00BCFB !important;
    font-family: 'lato', sans-serif;
    border: none;
}

.order-row {
    width: 20% !important;
}

@media(max-width: 575px) {
    .order-id {
      margin: 25% auto;
    }
  }