.customcontainer {
  width: auto;
}

.regcontainer {
  width: 70%;
  height: auto;
  height: auto;
  margin: auto;
  background-color: white;
}

.registerform {
  width: 90%;
  height: auto;
  background-color: white;
  margin: auto;
}

.titlediv {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.profileImage {
  height: 40%;
  width: 50%;
}

.custom-header {
  margin-top: 1%;
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 350;
  letter-spacing: 1px;
  color: #00BCFB;
}

.custom-update {
  background-color: #00BCFB;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  margin-bottom: 1%;
}

.profile-info {
  height: 12vh;
  background-color: #fff !important;
}

.custom-header {}

body {
  background: #F1F2F6 !important;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  vertical-align: middle;
  margin-top: 10px;
}

.custom-section {
  background-color: #F1F2F6 !important;
}

.profile-pic-div {
  
}

.profile-info-detail {
  margin-top: 2%;
  background-color: #fff !important;
}

.hello-custom {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}

.username-custom {
  font-size: 16px;
  text-align: left;
  margin-top: -10px;
  vertical-align: middle;
}

.table-custom {

}

.table-headers-custom {
  font-family: 'lato', sans-serif;
  font-size: 16px;
}

.no-bullets {
  list-style-type: none;
  text-align: left;
  font-size: 14px !important;

}