.customcontainer {
  width: auto;
  height: 2000px;
  padding-top: 5%;
  background-image: url('../../../../assets/images/presentation-bg.jpg');
  
}
.regcontainer{
  width: 80%;
  height: auto;
  height: auto;margin: auto;  
  background-color:  white;
}