.customcontainer {
  width: auto;
  height: 100vh;
  padding-top: 2%;
  background-image: url('../../../../assets/images/presentation-bg.jpg');
  
}
.regcontainer{
  width: 80%;
  height: auto;
  /* height: auto; */
  margin: auto;  
  /* background-color:  white; */
}