  
<catererheader></catererheader>

  <div class="customcontainer">
    <table class="table regcontainer" cellpadding="10" >
      <tr><th>#</th><th>Product</th><th>User</th><th>Delivery Date</th><th>Status</th></tr>
      <tr *ngFor="let order of productOrders let i=index">
      <td>{{i + 1}}</td>
      <td>{{order.product.name}}</td>
      <td>{{order.customerOrder.customer.userName}}</td>
      <td>{{order.deliverydate | date}}</td>
      <td>{{order.orderStatus}}</td>
    </tr> 
    </table>
  </div>