.customcontainer {
  width:auto;
  height: 100vh;
  padding-top: 5%;
  margin: 0 auto;
  background-image: url('../../../../assets/images/presentation-bg.jpg');
}


.regcontainer{
  width: 80%;
  height: auto;
  height: auto;margin: auto;  
  background-color:  white;
}