@import "~bootstrap/dist/css/bootstrap.css";
body {
    padding-top: 5%;
    font-family: 'lato', sans-serif;
}

@media(max-width:575px) {
    body {
        padding-top: 10%;
    }
}

/* Navigator Component Start */

/* Navigator Component End */

/* ProfilePic Component Start */

.hello-custom {
    color: #00B3FF;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
}

.username-custom {
    font-size: 16px;
    color: #00B3FF;
    text-transform: uppercase;
    text-align: left;
    margin-top: -10px;
    vertical-align: middle;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.profile-pic-table tr td:nth-child(1) {
    width: 30% !important;
}

.profile-pic-table tr td:nth-child(2) {
    width: 70% !important;
    padding-top: 3px;
}

.table-headers-custom {
    font-size: 20px;
    letter-spacing: 2px;
    color: #00B3FF;
    text-transform: uppercase;
}

.profile-info {
    height: 12vh;
    background-color: #fff !important;
    position: relative;
    height: 75px !important;
    margin-top: 10px;
}

/* ProfilePic Component End */

.profile-detail {
    background-color: #fff !important;
    height: 70vh;
    margin-top: 10px;
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* UserAddressComponent Start*/

.address-table {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #00B3FF;
    border: 2px solid #eaeaea;
    width: 100%;
    text-align: start;
}

.address-table tr td:nth-child(2) {
    text-align: end;
}

.update-address {
    cursor: pointer;
}

.badge-info-address {
    background-color: #8395a7;
    padding: 2%;
    color: #FFF;
}

.user-address-body {
    background: #F1F2F6;
    padding-top: 2.5% !important;
}

.profile-detail h3 {
    color: #00B3FF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 349;
    font-size: 20px !important;
}

/* UserAddressComponent End*/