<header></header>
<div class="container">
    <div class="row address-box">
        <div class="col-md-6">
            <h3 class="choose-addresss-header">Choose a address</h3>
            <div class="row">
                <div class="col-md-6" *ngFor="let address of customerAddressList">
                    <table class="table address-table">
                        <tbody>
                            <tr>
                                <td class="address-type">
                                    HOME
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{address.user.userName}} {{address.addressLine1}}
                                    <br/> {{address.addressLine2}}
                                    <br/> {{address.city}} {{address.state}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary deliver-custom" (click)="addAddress(address)">Deliver Here</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table address-table">
                        <thead>
                            <tr>
                                <th class="new-address">
                                    <br>
                                    <span class="fa fa-plus"></span>
                                    Add a New Address
                                    <br>
                                    <br>
                                    <br>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="choose-addresss-header">Order Review & Payment</h3>
            <table class="table order-payment">
                <thead>
                    <tr class="cart-header">
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>SubTotal</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart-item" *ngFor="let cartProduct of customerCart?.carts">
                        <td class="cart-column">
                            {{ cartProduct?.cart.product.name }}
                        </td>
                        <td class="cart-column">
                            {{ cartProduct?.cart.product.price }}
                        </td>
                        <td class="cart-column">
                            <input type="button" (click)="decreaseProductQty(cartProduct?.cart.product)" class="minus" value="-" />
                            <input type="number" name="quantity" step="1" value="{{cartProduct?.cart.quantity}}" min="1" class="input-text qty-text"
                            />
                            <input type="button" (click)="increaseProductQty(cartProduct?.cart.product)" class="plus" value="+" />
                        </td>
                        <td class="cart-column-price">
                            {{cartProduct.totalProductPrice}}
                        </td>
                        <td class="cart-column">
                            <a (click)="removeProductCart(cartProduct?.cart.cartid)" class="remove" title="Remove this item">&times;</a>
                        </td>
                    </tr>
                    <tr class="cart-total">
                        <td></td>
                        <td></td>
                        <td class="total-cart">Total</td>
                        <td class="total-cart"> {{customerCart?.totalPrice}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button class="btn btn-primary place-custom medium" (click)="placeOrder()">Place Order
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-3 offset-md-9">
            <button class="btn btn-primary deliver-custom medium" (click)="placeOrder()">Place Order
            </button>
        </div>
    </div> -->
</div>